<p>Fall, 1947. Akram arrives in Paris on a student bursary. He is Iraqi, Jewish, 18 years old and he is instantly seduced by the carnivalesque atmosphere of the city of lights. Coming from Baghdad and its centuries of repression and segregation of women, the young man faces a sexual and emotional awakening. At the Sorbonne, during his weekly French Literature class, he falls madly in love with Yvette. She comes from a conservative family, who disapprove of their affair. France is still haunted by traces of Vichy propaganda, and the deportations that took Jews to nazi death camps. The Paris Akram is discovering is not what he had imagined. The two young lovers escape Yvette's family and seek refuge within the Parisian Surrealists world and its enchanted burst of artistic exhuberence. In the middle of this meeting between east and decadent west, the young Jew from Baghdad must open his eyes on a new world.</p>

<p>Canada, 100 minutes, in development.</p>

<p>Script : Naïm Kattan & Joe Balass<br/>
Producer : Joe Balass</p>

<a href="https://www.facebook.com/pages/compassproductionsca/594012053960492" target="_blank" class="button">Facebook</a>
