<p><i>Un homme en voie de devenir une femme découvre qu’elle est le père d’un fils de 13 ans.</i></p>

<p>SID JAVED, un professionnel intègre et respecté porte un secret douloureux. Sid est transgenre, un transsexuel « dans le placard » qui s’est travesti en secret toute sa vie. À 33 ans, toutefois, elle décide de s’afficher et de devenir une femme. Lorsqu’un jeune étranger sonne à sa porte en affirmant être son fils, Sid doit faire face à la vérité sur elle-même et à son identité véritable.</p>

<p>VENUS transcende les genres pour explorer le sens véritable de l’amour.</p>

<p>100 minutes, couleur, en développement</p>

<p>Scénario et réalisation d’Eisha Marjara<br/>
Production de Joe Balass</p>

<a href="https://www.facebook.com/pages/compassproductionsca/594012053960492" target="_blank" class="button">Facebook</a>
<a href="http://venus-the-movie.tumblr.com/" target="_blank" class="button">Visitez le Tumblr</a>
<a href="#" class="button">Récupérez the pdf</a></div>
