<p><i>A man transitioning into a woman discovers she is the father
to a 13 year old boy.</i></p>

<p>SID JAVED is an upstanding well respected professional
who is also carrying a painful secret. Sid is transgender;<br/>
a closeted transsexual who has secretly cross-dressed all her life. 
At 33, she decides to come out and transition into a woman. 
When a young stranger shows up at her door claiming to be her son, 
Sid is forced to confront the truth about herself and who she really is.</p>

<p>VENUS is a gender bending drama about the true meaning of love when othersʼ expectations of who you are clash with who you want to be.</p>

<p>100 minutes, colour in development</p>

<p>Written and directed by Eisha Marjara<br/>
Produced by Joe Balass</p>

<a href="https://www.facebook.com/pages/compassproductionsca/594012053960492" target="_blank" class="button">Facebook</a>
<a href="http://venus-the-movie.tumblr.com/" target="_blank" class="button">Visit the Tumblr</a>
<a href="https://www.dropbox.com/s/eigh2odf5mn3egm/Mood%20Book%20Venus.pdf?dl=1" target="_blank" class="button">Grab the pdf</a>
