<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Compass Productions</title>
		<link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon" />
		{% include "css.html" %}
		<meta name="description" content="Joe Balass, Joy, Joie, JOY!, Portrait of a nun, JOY! Portrait of a Nun, JOIE! Portrait d'une nonne, Naïm Kattan, La longueur de l'alphabet,The Length of the Alphabet, George Hayim, Nana, George &amp; me, le Prix Tremplin pour le monde Artv, FIFA, Festival International du Film sur l'art de Montréal, Springboard to the World Award, iraq, jew, iraqi jew, Baghdad Twist, The Devil in the Holy Water, il diavolo nell'acqua santa, Montreal filmmaker, Derniers mots, Parting Words, compass films, compass, world pride, balass, documentary, gay, film, pope, jubillee, roman catholic, holy year, sisters of perpetual indulgence, sister missionary position, radical faeries, queer, fairy, faery, Naim Kattan film, Eisha Marjara, Venus, Akram, Akram le surréaliste, Akram the Surrealist" />

		<meta name="keywords" content="Joe Balass, Joy, Joie, JOY!, Portrait of a nun, JOY! Portrait of a Nun, JOIE! Portrait d'une nonne, Naïm Kattan, La longueur de l'alphabet,The Length of the Alphabet, George Hayim, Nana, George &amp; me, le Prix Tremplin pour le monde Artv, FIFA, Festival International du Film sur l'art de Montréal, Springboard to the World Award, iraq, jew, iraqi jew, Baghdad Twist, The Devil in the Holy Water, il diavolo nell'acqua santa, Montreal filmmaker, Derniers mots, Parting Words, compass films, compass, world pride, balass, documentary, gay, film, pope, jubillee, roman catholic, holy year, sisters of perpetual indulgence, sister missionary position, radical faeries, queer, fairy, faery, Naim Kattan film, Eisha Marjara, Venus, Akram, Akram le surréaliste, Akram the Surrealist" />

		<meta name="google-site-verification" content="OUUoigsR6AMZnJFYQro7PJs7yHCVCWOm5TJXc6f_Qwc" />
		<meta property="og:site_name" content="Compass Productions" />
		{% if project %}
			{% if project.title %}
			<meta property="og:title" content="{{ project.title}}" />
			{% endif %}
			{% if project.description %}
			<meta property="og:description" content="{{ project.description}}" />
			{% else %}
			<meta property="og:description" content="{{ project.title}}" />
			{% endif %}
			{% if project.backgroundImage %}
			<meta property="og:image" content="{{url_for('static', filename='images/'+project.backgroundImage, _external=True)}}" />
			{% endif %}
		{% endif %}
	</head>

	<body class="use-base">
		{# referencement #}
		<div class="ns">
			<h1>Compass Productions</h1>
			<h2>Joe Balass</h2>
			<ul>
				<li>Joe Balass</li>
				<li>Joy</li>
				<li>Joie</li>
				<li>JOY!</li>
				<li>Portrait of a nun</li>
				<li>JOY! Portrait of a Nun</li>
				<li>JOIE! Portrait d'une nonne</li>
				<li>Naïm Kattan</li>
				<li>La longueur de l'alphabet</li>
				<li>he Length of the Alphabet</li>
				<li>George Hayim</li>
				<li>Nana</li>
				<li>George &amp; me</li>
				<li>le Prix Tremplin pour le monde Artv</li>
				<li>FIFA</li>
				<li>Festival International du Film sur l'art de Montréal</li>
				<li>Springboard to the World Award</li>
				<li>iraq</li>
				<li>jew</li>
				<li>iraqi jew</li>
				<li>Baghdad Twist</li>
				<li>The Devil in the Holy Water</li>
				<li>il diavolo nell'acqua santa</li>
				<li>Montreal filmmaker</li>
				<li>Derniers mots</li>
				<li>Parting Words</li>
				<li>compass films</li>
				<li>compass</li>
				<li>world pride</li>
				<li>balass</li>
				<li>documentary</li>
				<li>gay</li>
				<li>film</li>
				<li>pope</li>
				<li>jubillee</li>
				<li>roman catholic</li>
				<li>holy year</li>
				<li>sisters of perpetual indulgence</li>
				<li>sister missionary position</li>
				<li>radical faeries</li>
				<li>queer</li>
				<li>fairy</li>
				<li>faery</li>
				<li>Naim Kattan film</li>
				<li>Eisha Marjara</li>
				<li>Venus</li>
				<li>Akram</li>
				<li>Akram le surréaliste</li>
				<li>Akram the Surrealist</li>
			</ul>
		</div>

		{% block content %}{% endblock %}

		{% include "js.html" %}

	</body>
</html>
